[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-redis = "*"
raven = {extras = ["flask"]}
requests = "*"
pillow-simd = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
"flake8" = "*"
ipython = "*"

[requires]
python_version = "3.6"
